.table-view{
    -fx-border-color: #427D9D;
    -fx-border-width: 4;
}

.search-bar {
    -fx-prompt-text-fill: #727374;
}

.addtext-field {
    -fx-border-color: #E8E8E8;
    -fx-border-radius: 12;
    -fx-prompt-text-fill: #727374;
    -fx-font-size: 16px;
    -fx-font-style: normal;
    -fx-padding: 12px 16px;
    -fx-font-family: "SansSerif";
}

.root{
    -fx-background-color: WHITE;
}

.btnRed{
    -fx-background-color:white;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-style: solid;
    -fx-border-color: #f44336;
    -fx-cursor: Hand;
}

.btnBlue{
    -fx-background-color:#9BBEC8;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-style: solid;
    -fx-border-color: #008CBA;
    -fx-cursor: Hand;
}

.btnBlack{
    -fx-background-color:white;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-cursor: Hand;
}

.btnGray{
    -fx-background-color:white;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-style: solid;
    -fx-border-color: LightGray;
    -fx-cursor: Hand;
}
